@media screen and (min-width: 400px) {

	.contact-container {
		position: relative;
		width: 100%;
		height: 250px;
		background: #8b8b8b; 
		text-align: center;
		margin: auto;
	}
	
	.contact-container p {
		position: relative;
		top: 5%;
		width: 100%;
		color: #000000; 
		font-size: 20px; 
		text-align: center;
	}
	
	#Tooltip ul{
		position: relative;
		margin-top:  30px;
		margin-left: auto;
		margin-right: auto;
		display:inline-block;
	}
	
	#Tooltip ul li{
		list-style-type:none;
		float:left;
		margin-right:30px;
		cursor:pointer;
		
	}
	
	#Tooltip ul li img {
		border-radius: 50%;
		width:125px;
		height:125px;
		background:#FFF;
	}
	
	/* #Tooltip ul li:last-child{
		margin-right:0;
	} */
}

@media screen and (min-width: 1025px) {

	.contact-container {
		position: relative;
		width: 100%;
		height: 300px;
		background: #8b8b8b; 
		text-align: center;
		margin: auto;
	}
	
	.contact-container p {
		position: relative;
		top: 0%;
		left: 52%;
		width: 500px;
		color: #000000; 
		font-size: 50px; 
		text-align: left;
	}
	
	#Tooltip ul{
		position: relative;
		margin-top:  50px;
		display:inline-block;
	}
	
	#Tooltip ul li{
		list-style-type:none;
		float:left;
		margin-right:50px;
		cursor:pointer;
		
	}
	
	#Tooltip ul li img {
		border-radius: 50%;
		width:125px;
		height:125px;
		background:#FFF;
	}
	
	
	#Tooltip ul li:last-child{
		margin-right:0;
	}
	
	/* #tooltip{
		position:relative;
		border-radius: 10px;
		background:#FFF;
		background: #ffffff;
		width: 200px;
		height: 40px;
	}
	
	#tooltip p{
		text-align: left;
		vertical-align: middle;
		color:#000000;
		font-size:20px;
	}
	
	#tooltip:after{
		content:" ";
		width:0px;
		border-top:18px solid #ffffff;
		border-left:8px solid transparent;
		border-right:8px solid transparent;
		position:relative;
		margin-left:-8px;
	} */
	
}
