.image img {
	display: block;
	width: 100%;
	height: 650px;
}

.sample-box {
    position: relative;
}

.sample-box p {
    position: absolute;
    top: 5%;
    left: 52%;
    width: 200px;
    color: #000000; 
    font-size: 60px; 
    text-align: left;
}

#menubar{
    width:100%; }

#menubar ul{
    display:table;
    width:100%;
    margin: 0; 
    padding: 0;
    background-color: #FFFFFF; }

#menubar li{
    display: table-cell;
    width:25%;
    padding:0;
    background-color: #8b8b8b; }

#menubar li a{
    display: block;
    margin:0 auto;
    padding:5px;
    /* border: 1px solid #000000; */
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px; }
    
#menubar li a:hover{
    background-color: #333333; }

.container3 {
    /* display: block; */
	width: 370px;
    height: 650px;
    /* background: rgb(80, 125, 248); */
    display: block;
    margin-left:20%;
}

.colcol {
    /* top: 25px; */
    /* background: rgb(248, 226, 80); */
    width: 50%;
    height: 650px;
    /* margin: 25px; */
    /* margin-left: 0%; */
    background-color: #8b8b8b;
}

.colcol p{
    position: relative;
    top: 5%;
    left: 0%;
    width:200px;
    color: #000000; 
    font-size:60px; 
    text-align: left;
}

.main {
    /* background: rgb(248, 226, 80); */
    /* position: absolute; */
    width: 100%;
    /* top: 25px; */
    /* margin: 25px; */
    /* background-color: #8b8b8b; */
}

.column {
    /* background: rgb(248, 226, 80); */
    width: 50%;
    height: 650px;
    /* margin: 25px; */
    /* background-color: #8b8b8b; */
}

.columncolumn {
    width: 50%;
    height: 650px;
    /* margin: 25px; */
    background-color: #e76060;
    position: relative;
}

.columncolumn p{
    position: relative;
    top: 5%;
    left: 0%;
    width: 200px;
    color: #000000; 
    font-size: 60px; 
    text-align: left;
}

div.image_circle {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius:50%;
    background-image: url("https://cdn.pixabay.com/photo/2018/07/25/02/53/woman-3560573_960_720.jpg");
    background-position: 50% 50%;
    position: relative;
    top:25%;
	left:30%;
    border: 1px solid #000000;
}

.introText {
    font-size: 72px; 
    /* text-align: center; */
}

#wrapper{
    position: relative;
	width:75%;
	margin:0 auto;
    background: rgb(248, 189, 52);
}

#wrapper-col {
    position: relative;
    top: 25px;
    height: 650px;
    background: rgb(248, 189, 52);
}

#slide{
	position:relative;
	overflow:hidden;
	height:650px;
}

#slide ul{
    display: flex;
	position: absolute;
    margin-right: 20px; /* 画像同士の余白は20px */
	width:1200px;
    top: 5%;
}

#slide li{
	float:left;
	width:300px;
	list-style-type:none;
}

.slide-container{
    position: relative;
    display: block;
}

#prevBtn{
	position:absolute;
	top:50%;
	left:10px;
}

#nextBtn {
	position:absolute;
	top:50%;
	right:10px;
}

button{
	opacity:.6;
	transition:opacity .2s;
	border:none;
	background:none;
}

button:focus{
	outline:none;
}

button:hover{
	opacity:1;
}

.contact-container {
    position: relative;
    /* top:50px; */
    /* display: block; */
	width: 100%;
    height: 350px;
    background: rgb(86, 153, 246);
    text-align: center;
    margin: auto;
}

.contact-container p {
    position: relative;
    top: 5%;
    left: 25%;
    width: 500px;
    color: #000000; 
    font-size: 60px; 
    text-align: right;
}

.box3 {
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 40px; 
    color: #2c2c2f;
    background: #cde4ff;/*背景色*/
}

/* #introbar ul {
    padding-top: 10px; 
    padding-bottom: 10px;
} */

#introbar ul li{
    padding-top: 5px; 
    padding-bottom: 5px;
}
