@media screen and (min-width: 300px) {

    #menubar{
       
        margin-left: 0;
    }

    #menubar ul{
        width:100%;
        margin: 0; 
        padding: 0;
        /* background-color: #000000;  */
    }

    #menubar li{
        border: 1px solid #000000;
        font-size: 20px;
        height: 40px;
        background-color: #8b8b8b; 
        text-align: center;
        list-style: none;
    } 
}

@media screen and (min-width: 1025px) {

    #menubar{
        width:100%;
    }
    
    #menubar ul{
        display:table;
        width:100%;
        margin: 0; 
        padding: 0;
        background-color: #000000; 
    }
    
    #menubar li{
        display: table-cell;
        width:20%;
        padding:0;
        background-color: #8b8b8b; 
        vertical-align:middle;
    }
    
    #menubar li a{
        display: block;
        margin:0 auto;
        padding:5px;
        text-decoration: none;
        color: #000000;
        text-align: center;
        font-size: 18px; 
    }
        
    #menubar li a:hover{
        background-color: #333333; 
    }
}


