<header class="site-header">
    <div id="menubar">
        <ul>
            <li><a href="/base" a title="ここにマウスオーバーで表示したい内容を記入して下さい。改行は&#13;&#10;で出来ます。">HOME</a></li>
            <li><a title="ここにマウスオーバーで表示したい内容を記入して下さい。改行は&#13;&#10;で出来ます。" target="_blank">IOS-PORTFOLIO</a></li>
            <li><a href="/views" title="ここにマウスオーバーで表示したい内容を記入して下さい。改行は&#13;&#10;で出来ます。" >IOS-INFOMATION</a></li>
            <li><a title="ここにマウスオーバーで表示したい内容を記入して下さい。改行は&#13;&#10;で出来ます。" target="_blank">SELF-INTRODUCTION</a></li>
            <li><a href="/contact" title="ここにマウスオーバーで表示したい内容を記入して下さい。改行は&#13;&#10;で出来ます。">CONTACT</a></li>
        </ul>
    </div>
</header>